<%- include('../adminlayout/header.ejs') %>
<%- include('../adminlayout/navbar.ejs') %>

<div>edit categry</div>
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <form action="/admin/updatecategory" method="post">
            <div class="mb-3">
                <label  class="form-label"> Category Name</label>
                <% console.log(categorydetails) %>
                <input type="text" value="<%= categorydetails._id %>" name="id">
                <input type="text" class="form-control" value="<%= categorydetails.category %>" name="name" required>
            </div>
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
    </div>
</div>

<%- include('../adminlayout/footer.ejs') %>