<%- include('../layout/header.ejs') %>

    <head>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"
            id="bootstrap-css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->
        <style>
            .invisible {
                display: none;
            }
        </style>
    </head>
    <div class="container wrapper">

        <div class="row cart-body">

            <div class="form-horizontal">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-push-6 col-sm-push-6">
                    <!--REVIEW ORDER-->
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Review Order <div class="pull-right"><small><a class="afix-1" href="/view-cart">Edit
                                        Cart</a></small></div>
                        </div>
                        <div class="panel-body">
                            <!-- cart product  starting -->
                            <% let totalPrice=0 %>
                                <% users.cart.forEach((element)=> { %>

                                    <div class="form-group">
                                        <div class="col-sm-3 col-xs-3">
                                            <img class="img-responsive" style="object-fit: contain;"
                                                src="/ProductImages/<%= element.product.image[0] %>" />
                                        </div>
                                        <div class="col-sm-6 col-xs-6">
                                            <div class="col-xs-12">
                                                <%= element.product.name %>
                                            </div>
                                            <div class="col-xs-12"><small>Quantity:<span>
                                                        <%= element.quantity %>
                                                    </span></small></div>
                                            <input type="text">
                                        </div>
                                        <% let pdt_total_Price=0 %>
                                            <div class="col-sm-3 col-xs-3 text-right">
                                                <h6><span>$</span>
                                                    <%= pdt_total_Price=element.quantity* element.product.price %>
                                                </h6>
                                                <% totalPrice +=pdt_total_Price %>
                                            </div>
                                    </div>
                                    <% }) %>

                                        <!-- cart product ending -->
                                        <div class="form-group">
                                            <hr />
                                        </div>

                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <strong>Subtotal</strong>
                                                <div class="pull-right"><span>$</span><span>
                                                        <%= totalPrice %>
                                                    </span></div>
                                            </div>
                                            <div class="col-xs-12" id="couponplate" style="display: none;">
                                                <small>Coupon Discount</small>
                                                <div class="pull-right">$<span id="coupondiscount"></span></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <hr />
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <strong>Order Total</strong>
                                                <input type="number" style="display: none;" value="<%= totalPrice %>">
                                                <div class="pull-right"><span>$</span><span id="totalprice"
                                                        name="totalprice">
                                                        <%= totalPrice %>
                                                    </span></div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="col">
                                            <form action="" id="couponform">
                                                <p id="couponMessage">Have Coupon?</p>
                                                <input class="form-control" type="text" name="couponcode"
                                                    placeholder="Enter coupon code here">
                                                <input type="submit" class="btn btn-primary btn-submit-fix">
                                            </form>
                                        </div>


                        </div>
                    </div>
                    <!--REVIEW ORDER END-->
                </div>
                <form id="myForm">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-pull-6 col-sm-pull-6">
                        <!--SHIPPING METHOD-->
                        <div class="panel panel-info">
                            <div class="panel-heading">Address</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <h4>Shipping Address</h4>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                    Choose Address
                                </button>

                                <!-- Modal -->

                                <div class="form-group">
                                    <div class="col">
                                        <strong> Name:</strong>
                                        <input type="text" name="name" class="form-control" value="<%= users.name %>"
                                            readonly />
                                    </div>
                                    <div class="span1"></div>
                                </div>

                                <% if (users.address.length> 0) { %>
                                    <div class="form-group">
                                        <div class="col-md-12"><strong>Address:</strong></div>
                                        <div class="col-md-12">
                                            <input type="text" name="house" class="form-control" readonly
                                                value="<%= users.address[0].house %>" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12"><strong>City:</strong></div>
                                        <div class="col-md-12">
                                            <input type="text" name="city" class="form-control" readonly
                                                value="<%= users.address[0].city %>" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12"><strong>District:</strong></div>
                                        <div class="col-md-12">
                                            <input type="text" name="district" class="form-control" readonly
                                                value="<%= users.address[0].district %>" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12"><strong>State:</strong></div>
                                        <div class="col-md-12">
                                            <input type="text" name="state" class="form-control" readonly
                                                value="<%= users.address[0].state %>" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12"><strong>Zip / Postal Code:</strong></div>
                                        <div class="col-md-12">
                                            <input type="text" name="post" class="form-control" readonly
                                                value="<%= users.address[0].post%>" />
                                        </div>
                                    </div>
                                    <% } else { %>
                                        <div class="form-group">
                                            <div class="col-md-12"><strong>Address:</strong></div>
                                            <div class="col-md-12">
                                                <input type="text" name="house" class="form-control" readonly
                                                    value="" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12"><strong>City:</strong></div>
                                            <div class="col-md-12">
                                                <input type="text" name="city" class="form-control" readonly value="" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12"><strong>District:</strong></div>
                                            <div class="col-md-12">
                                                <input type="text" name="district" class="form-control" readonly
                                                    value="" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12"><strong>State:</strong></div>
                                            <div class="col-md-12">
                                                <input type="text" name="state" class="form-control" readonly
                                                    value="" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12"><strong>Zip / Postal Code:</strong></div>
                                            <div class="col-md-12">
                                                <input type="text" name="post" class="form-control" readonly value="" />
                                            </div>
                                        </div>
                                        <% } %>
                                            <div class="form-group">
                                                <div class="col-md-12"><strong>Phone Number:</strong></div>
                                                <div class="col-md-12"><input type="text" name="mobile" readonly
                                                        class="form-control" value="<%= users.mobile %>" /></div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12"><strong>Email Address:</strong></div>
                                                <div class="col-md-12"><input type="text" name="email"
                                                        class="form-control" value="<%= users.email %>" /></div>
                                            </div>
                            </div>
                        </div>

                        <div class="panel panel-info">
                            <div class="panel-heading"><span><i class="glyphicon glyphicon-lock"></i></span> Payement
                                Method</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <input type="radio" class="col-1  nonsubmit" name="payment" value="COD" required>
                                    <div class="col-md-12">
                                        <strong class="col-5">Cash On Delivery</strong>
                                    </div>
                                </div>
                                <% if (user.wallet > 0) { %>
                                 
                                    <div class="form-group">
                                        <input type="radio" class="col-1 nonsubmit" name="payment"  value="WLT" required>
                                        <div class="col-md-12">
                                            <strong class="col-5">Wallet</strong>
                                        </div>
                                    </div>
                                <% } %>
                                <!-- <div class="form-group">
                                    <input type="radio" class="col-1 nonsubmit" name="payment" value="OP" required>
                                    <div class="col-md-12">
                                        <strong class="col-5">Online Payement</strong>
                                    </div>
                                </div> -->
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <button type="submit" class="btn btn-primary btn-submit-fix">Place
                                            Order</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade mt-5" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
        style="z-index: 1210;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Choose Your Address</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="row">
                        <% if (user.address.length> 0) { %>

                            <% user.address.forEach((element ,index)=> { %>

                                <div class="col-5">

                                    <p id="house<%= index %>"><%= element.house %></p>
                                    <p id="city<%= index %>"><%= element.city %></p>
                                    <p id="district<%= index %>"><%= element.district %></p>
                                    <p id="state<%= index %>"><%= element.state %></p>
                                    <p id="post<%= index %>"><%= element.post %></p>
                                    <button onclick="addressChoose('<%= index %>')"
                                        class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
                                        <%= "Address : " +(index+1) %>
                                    </button>
                                </div>

                                <% }) %>
                                    <% } else { %>

                                        <div class="container">

                                            <div class="row  justify-content-center">
                                                <div class="col-8 col-md-8 col-lg-6">
                                                    <form method="post" id="addressform">

                                                        <!--SHIPPING METHOD-->
                                                        <div class="panel panel-info">
                                                            <div class="panel-heading">Add Address</div>
                                                            <div class="panel-body">


                                                                <div class="form-group">
                                                                    <div class="col">
                                                                        <strong>House:</strong>
                                                                        <input type="text" class="form-control"
                                                                            name="house" required>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="col"><strong>City:</strong></div>
                                                                    <div class="col">
                                                                        <input type="text" class="form-control"
                                                                            name="city" required>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="col"><strong>District:</strong>
                                                                    </div>
                                                                    <div class="col">
                                                                        <input type="text" class="form-control"
                                                                            name="district" required>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="col"><strong>State:</strong></div>
                                                                    <div class="col">
                                                                        <input type="text" class="form-control"
                                                                            name="state" required>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="col"><strong>Zip / Postal
                                                                            Code:</strong></div>
                                                                    <div class="col-8">
                                                                        <input type="tel" class="form-control"
                                                                            name="post" required>
                                                                    </div>
                                                                </div>

                                                                <div class="row justify-content-center">
                                                                    <button type="submit"
                                                                        class="btn btn-primary btn-submit-fix">Add
                                                                        address</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <!--CREDIT CART PAYMENT END-->
                                        </div>
                                        <script>
                                            const addressform = document.getElementById("addressform")
                                            addressform.addEventListener("submit", (e) => {
                                                const form = document.getElementById('myForm');
                                                e.preventDefault()
                                                if (addressaddedin) {
                                                    form.elements['city'].value = addressform.elements['city'].value;
                                                    form.elements['district'].value = addressform.elements['district'].value;
                                                    form.elements['state'].value = addressform.elements['state'].value;
                                                    form.elements['post'].value = addressform.elements['post'].value;
                                                    form.elements['house'].value = addressform.elements['house'].value;
                                                    document.getElementById('addressadded').value = 1
                                                } else {

                                                    $.ajax({
                                                        url: "/checkout-adress",
                                                        method: 'POST',
                                                        data: {
                                                            house: addressform.elements['house'].value,
                                                            city: addressform.elements['city'].value,
                                                            district: addressform.elements['district'].value,
                                                            state: addressform.elements['state'].value,
                                                            post: addressform.elements['post'].value
                                                        },
                                                        encoded: false,
                                                        success: function (response) {
                                                            form.elements['city'].value = addressform.elements['city'].value;
                                                            form.elements['district'].value = addressform.elements['district'].value;
                                                            form.elements['state'].value = addressform.elements['state'].value;
                                                            form.elements['post'].value = addressform.elements['post'].value;
                                                            form.elements['house'].value = addressform.elements['house'].value;
                                                            document.getElementById('addressadded').value = 1
                                                            addressaddedin = true

                                                        }
                                                    });
                                                }
                                            })
                                        </script>
                                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        body,
        .form-control {
            font-size: 1.5rem;
            cursor: pointer;
        }
    </style>
    <input type="text" id="addressadded" style="display: none;" value="<%= users.address.length %>">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script>
        let setresponse
        let setname
        let setemail
        let setmobile
        let orderplaced = false
        let couponadded = false
        let addressaddedin = false
        const couponform = document.getElementById('couponform');
        couponform.addEventListener('submit', (event) => {
            event.preventDefault();
            let couponcode = couponform.elements["couponcode"].value
            if (couponadded) {
                alert("Coupon already added")
            } else {
                $.ajax({
                    url: "/checkCoupon",
                    method: 'POST',
                    data: { coupon: couponcode },
                    encoded: false,
                    success: function (response) {
                        if (response.amount) {
                            couponadded = response.couponid
                            document.getElementById("couponplate").style.display = ""
                            document.getElementById("coupondiscount").style.display = ""
                            let amount = parseInt(document.getElementById("totalprice").innerHTML)
                            let couponAmount = response.amount
                            amount = (amount / 100) * couponAmount
                            document.getElementById("totalprice").innerHTML -= amount
                            document.getElementById("coupondiscount").innerHTML = amount
                            console.log(response.amount)
                            document.getElementById("couponMessage").style.color = "green"
                            document.getElementById("couponMessage").innerHTML = "coupon applied"
                        } else {
                            document.getElementById("couponMessage").style.color = "red"
                            document.getElementById("couponMessage").innerHTML = response.message
                        }
                    }
                });
            }
        })

        const form = document.getElementById('myForm');
        form.addEventListener('submit', function (event) {
            event.preventDefault();
            let address = document.getElementById('addressadded').value
            const payment = form.elements['payment'].value;
            if (address == 0) {
                alert("Add Adress")
            } else if (orderplaced) {
                paymentOrder(setresponse, setname, setemail, setmobile)
            } else if (payment == "WLT") {
                walletCheck()
            } else {
                check()
            }
        });
        function walletCheck() {
            $.ajax({
                url: "/walletCheck",
                method: 'POST',
                data: {
                    amount: document.getElementById("totalprice").innerHTML
                },
                encoded: false,
                success: function (response) {
                    if (response.status) {
                        check()
                    } else {
                        Swal.fire({
                            position: 'top-center',
                            icon: 'info',
                            title: 'Insufficient balance in Your wallet.',
                            showConfirmButton: false,
                            timer: 1000
                        })
                    }
                }
            });
        }
        function paymentOrder(response, name, email, mobile) {
            var options = {
                "key": "rzp_test_0vN6fDOIHGEZ8I", // Enter the Key ID generated from the Dashboard
                "amount": response.amount_due, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                "currency": "INR",
                "name": "Acme Corp", //your business name
                "description": "Test Transaction",
                "image": "https://example.com/your_logo",
                "order_id": response.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                "callback_url": "https://eneqd3r9zrjok.x.pipedream.net/",
                "prefill": {
                    "name": name, //your customer's name
                    "email": email,
                    "contact": mobile
                },
                "notes": {
                    "address": "Razorpay Corporate Office"
                },
                "theme": {
                    "color": "#3399cc"
                }, "handler": function (response) {
                    console.log(response)
                    verifyPayment(response)
                }
            };
            var rzp1 = new Razorpay(options);
            rzp1.open();
            e.preventDefault();
        }
        function verifyPayment(response) {
            $.ajax({
                url: "/verify-payment",
                method: 'POST',
                data: {
                    razorpay_payment_id: response.razorpay_payment_id,
                    razorpay_order_id: response.razorpay_order_id,
                    razorpay_signature: response.razorpay_signature
                },
                encoded: false,
                success: function (response) {
                    if (response.payment) {
                        location.href = `/confirmation/${response.orderid}`
                    }
                }
            });
        }
        function check() {
            const price = document.getElementById("totalprice").innerHTML

            const name = form.elements['name'].value;
            const email = form.elements['email'].value;
            const city = form.elements['city'].value;
            const district = form.elements['district'].value;
            const state = form.elements['state'].value;
            const post = form.elements['post'].value;
            const house = form.elements['house'].value;
            const payment = form.elements['payment'].value;
            const mobile = form.elements['mobile'].value;
            const totalPrice = parseInt(price)
            const amount = totalPrice * 100
            const formData = new FormData(form);
            console.log(formData)
            $.ajax({
                url: "/post-order",
                method: 'POST',
                data: {
                    name: name,
                    house: house,
                    post: post,
                    city: city,
                    state: state,
                    district: district,
                    payment: payment,
                    totalprice: amount,
                    coupon: couponadded
                },
                encoded: true,
                success: function (response) {
                    console.log(response)
                    if (response.payment == "COD" || response.payment == "WLT") {
                        location.href = `/confirmation/${response.orderid}`
                    } else {
                        orderplaced = true
                        setresponse = response
                        sesettname = name
                        setemail = email
                        setmobile = mobile
                        paymentOrder(response, name, email, mobile)

                    }
                }
            });
        }
        function addressChoose(i) {
            const uhouse = document.getElementById(`house${i}`).innerHTML
            const ucity = document.getElementById(`city${i}`).innerHTML
            const udistrict = document.getElementById(`district${i}`).innerHTML
            const ustate = document.getElementById(`state${i}`).innerHTML
            const upost = document.getElementById(`post${i}`).innerHTML
            form.elements['city'].value = ucity
            form.elements['district'].value = udistrict
            form.elements['state'].value = ustate
            form.elements['post'].value = upost
            form.elements['house'].value = uhouse
        }
    </script>
    <%- include('../layout/footer.ejs') %>